<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
    http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
    id="WebApp_ID" version="3.1">
    <!-- 定义Spring MVC的前端控制器 -->
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>
        org.springframework.web.servlet.DispatcherServlet
    </servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/springmvc-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- 让Spring MVC的前端控制器拦截所有请求 -->
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
	  <!-- Spring字符集过滤器 -->  
	<filter>  
	    <filter-name>SpringEncodingFilter</filter-name>  
	    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
	    <init-param>  
	        <param-name>encoding</param-name>  
	        <param-value>UTF-8</param-value>  
	    </init-param>  
	    <init-param>  
	        <param-name>forceEncoding</param-name>  
	        <param-value>true</param-value>  
	    </init-param>  
	</filter>  
	<filter-mapping>  
	    <filter-name>SpringEncodingFilter</filter-name>  
	    <url-pattern>/*</url-pattern>  
	</filter-mapping> 
  	<servlet>
	       <servlet-name>video_upload</servlet-name>
	       <jsp-file>/WEB-INF/pages/video_upload.jsp</jsp-file>
	</servlet>
	<servlet-mapping>  
	       <servlet-name>video_upload</servlet-name>  
	       <url-pattern>/video_upload</url-pattern>  
	</servlet-mapping> 
	<servlet>
	       <servlet-name>audio_upload</servlet-name>
	       <jsp-file>/WEB-INF/pages/audio_upload.jsp</jsp-file>
	</servlet>
	<servlet-mapping>  
	       <servlet-name>audio_upload</servlet-name>  
	       <url-pattern>/audio_upload</url-pattern>  
	</servlet-mapping> 
	<servlet>
	       <servlet-name>test_upload</servlet-name>
	       <jsp-file>/WEB-INF/pages/test_upload.jsp</jsp-file>
	</servlet>
	<servlet-mapping>  
	       <servlet-name>test_upload</servlet-name>  
	       <url-pattern>/test_upload</url-pattern>  
	</servlet-mapping> 
	<servlet>
	       <servlet-name>forum_add</servlet-name>
	       <jsp-file>/WEB-INF/pages/forum_add.jsp</jsp-file>
	</servlet>
	<servlet-mapping>  
	       <servlet-name>forum_add</servlet-name>  
	       <url-pattern>/forum_add</url-pattern>  
	</servlet-mapping>
	<servlet>
	       <servlet-name>data_upload</servlet-name>
	       <jsp-file>/WEB-INF/pages/data_upload.jsp</jsp-file>
	</servlet>
	<servlet-mapping>  
	       <servlet-name>data_upload</servlet-name>  
	       <url-pattern>/data_upload</url-pattern>  
	</servlet-mapping> 
	<servlet>
	       <servlet-name>user_add</servlet-name>
	       <jsp-file>/WEB-INF/pages/user_add.jsp</jsp-file>
	</servlet>
	<servlet-mapping>  
	       <servlet-name>user_add</servlet-name>  
	       <url-pattern>/user_add</url-pattern>  
	</servlet-mapping> 
</web-app>